* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
}
.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
}
.hero-img {
  width: 100%;
}
